.bgImage {
  background-image: url(../../assets/Images/dev.jpg);
  background-size: cover;
  /*height: 80vh;
  width: 95.2vw;*/
  height: 88vh;
  width: 97.5vw;
  color: antiquewhite;
}
.centerDisplay {
    width: 1099px;
    margin-top: 4vh;
    margin-left: 9vw;
    opacity: 0.8;
}
.card {
    width: 70vw;
    margin: 0 auto;
    /*margin: 55px auto;*/
    opacity: 0.7;
}
.justify {
    text-align: justify;
    margin: 5px 6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.flexBox {
    display: inline-flex;
}
.flexItem {
    flex: 1 1 auto;
    margin: 0 10px;
    width: 25vw;
    text-align: center;
    border: 1px solid darkgray;
}
.size {
    height: 150px;
    width: 120px;
    margin: 0 auto;
}
.mid {
    text-align: center;
    margin: 0 auto;
}
.screenSize {
    /*height: 92vh;
    width: 99vw;*/
    /* ofc desktop
    height: 90vh;
    width: 98.7vw;*/
    /*laptop*/
    height: 87vh;
    width: 98.9vw;
}



