.bgImage {
  /*background-image: url(../../assets/Images/dev.jpg);*/
  /*background-image: url(../../assets/Images/images.jpg);*/
  /*background-image: url(../../assets/Images/designer-developer1.jpg);*/
  /*background-size: cover;*/
  height: 88vh;
  width: 97.5vw;
  color: black;
  font-size: 14px;  
}
.centerDisplay {
    width: 1099px;
    margin-top: 4vh;
    margin-left: 9vw;
    opacity: 0.8;
}
.justify {
    text-align: justify;
    margin: 5px 6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.flexBox {
    display: inline-flex;
}
.flexItem {
    flex: 1 1 auto;
    margin: 0 7px;
    text-align: center;
}
.size {
    height: 150px;
    width: 120px;
    margin: 0 auto;
}
.mid {
    text-align: center;
    margin: 0 auto;
}
.screenSize {
    height: 87vh;
    width: 98.9vw;
}
.image {
    width: 47vw; 
    display: inline-flex; 
    height: 73vh
}
.wide {
    width: 25vw;
    border: 1px solid rgb(103,58,183);
}
blockDisplay {
    display: block !important;
}
