<md-tab-group class="bgImage screenSize">
  <md-tab label="Introduction">
    <md-card class="card">
      <md-card-title class="mid font"> 
         <h2> Hi! This is <strong>Qurat ul Ann Iqbal</strong> </h2>
      </md-card-title>
      <md-card-subtitle class="mid">
        <h2> A Front-End Web & Hybrid Mobile Apps Developer </h2>
      </md-card-subtitle>
      <md-card-content class="mid">
          <h2 class="justify mid font"> 
            A Certified Angular2 Developer by <strong> Udemy </strong> 
            <a href="https://www.udemy.com/certificate/UC-2WFG2A8J/" target="_blank">
              Certification URL 
            </a>
            <br><br><br>
          </h2>
          <div class="flexBox">
            <md-card class="flexItem wide blockDisplay" *ngFor="let item of items">
              <div class="flexBox">
                <br>
                <img md-card-image class="size flexItem" src="../../assets/Images/uok.png">
                <div class="flexItem">
                  <md-card-header>
                    <md-card-title>
                      <h2>{{item.title}}</h2>
                    </md-card-title>
                    <md-card-subtitle>
                      <h3>{{item.subtitle}}</h3>
                    </md-card-subtitle>
                  </md-card-header>
                  <br><br><br>
                  <md-card-content> 
                    <p> <strong>{{item.cgpa}}</strong></p>
                    <p> {{item.batch}} </p>
                  </md-card-content>
                </div>
                <br>
              </div>
            </md-card>
            <br><br>
          </div>
      </md-card-content>
    </md-card>
  </md-tab>
  <md-tab label="Technical Expertise">
  <md-card>
    <md-grid-list cols="4" rowHeight={{rowHeight}}>
      <md-grid-tile class="gridSize" *ngFor="let tile of tiles"
          [colspan]="1"
          [rowspan]="2"
          [style.background]="tile.color">
          <img class="size" src={{tile.text}} alt="logos" />
      </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols='4' rowHeight={{rowHeight}}>
      <md-grid-tile class="gridSize" *ngFor="let tech of newTechs"
          [colspan]="2"
          [rowspan]="2"
          [style.background]="tech.color">
        <img class="widesize" src={{tech.text}} alt="logos" />
      </md-grid-tile>
    </md-grid-list>
  </md-card>
  </md-tab>
</md-tab-group>
