.bgImage {
  height: 88vh;
  width: 97.5vw;
  color: black;
  font-size: 14px;  
}
.centerDisplay {
    width: 1099px;
    margin-top: 4vh;
    margin-left: 9vw;
    /*opacity: 0.5;*/
}
.justify {
    text-align: justify;
    margin: 5px 6em;
}
.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.flexBox {
    display: inline-flex;
}
.flexItem {
    flex: 1 1 auto;
    margin: 0 7px;
    text-align: center;
}
.size {
    height: 150px;
    width: 120px;
    margin: 0 auto;
}
.mid {
    text-align: center;
    margin: 0 auto;
}
.screenSize {
    height: 87vh;
    width: 98.9vw;
}
.image {
    width: 47vw; 
    display: inline-flex; 
    height: 73vh
}
.wide {
    width: 25vw;
    border: 1px solid rgb(103,58,183);
}
blockDisplay {
    display: block !important;
}
@media screen and (max-width: 768px){    /* for small screens<768px, jb screen ziada se ziada 767px ki ho tb */
.screenSize {
    width: 98vw;
}
.wide {
    width: 35vw;
}
.size {
    height: 70px;
    width: 60px;
    margin: 25px auto;
}
.font {
    font-size: 14px;
}
/*.gridSize {
    /*height: 30vh;*/
}
.smallSize {
    height: 50px;
    width: 50px;
}*/
}
