  <md-card class="flexBox screenSize">
    <md-card class="flexItem widthGrid">
      <md-grid-list cols="3" rowHeight="100px">
        <md-grid-tile (click) = "showDetails(project)"
            *ngFor="let project of projects"
            [colspan]="1"
            [rowspan]="1"
            [style.background]="project.color">
            {{project.title}}
        </md-grid-tile>
      </md-grid-list>
    </md-card>
  <md-card class="flexItem widthDetail">
    <md-card-title> 
      <h1> {{prj.title}} </h1>
    </md-card-title>
    <md-card-subtitle>
      <h3> {{prj.technologies}} </h3>
    </md-card-subtitle>
    <img md-card-image src={{prj.src}} alt="project" />
    <md-card-content>
      {{prj.readme}}
    </md-card-content>
    <md-card-actions>
      <a class="noDecor" type="button" md-raised-button color="primary" href="{{prj.demo}}" target="_blank"> VIEW LIVE </a>
    </md-card-actions>
    <br>
  </md-card>
</md-card>
