@mixin setWidth($value) {
    width: $value;
}
.flexBox {
    display: inline-flex;
}
.flexItem {
    flex: 1 1 auto;
    margin: 0 10px;
    text-align: center;
    border: 1px solid rgb(103,58,183);
}
.noDecor {
    text-decoration: none;
    color: whitesmoke;
}
.widthGrid {
    @include setWidth(29vw);
}
.widthDetail {
    @include setWidth(55vw);
}
.screenSize {
    @include setWidth(calc(100vw - 83px));
    // height: 100vh;
    border: 1px solid rgb(103,58,183);
}
.fixSize {
    height: 70%;
    width: 50%;
}
.textStyle {
    font-family: cursive;
    font-weight: bolder;
    font-size: 16px;
}
@media screen and (max-width: 768px){    /* for small screens<768px, jb screen ziada se ziada 767px ki ho tb */
.screenSize {
    @include setWidth(calc(100vw - 45px));
}
.flexBox {
    padding: 3px;
}
.flexItem {
    margin: 0 3px;
}
.widthGrid {
    @include setWidth(29vw);
}
.widthDetail {
    @include setWidth(55vw);
}
}