@mixin setWidth($value) {
    width: $value;
}
.flexBox {
    display: inline-flex;
}
.flexItem {
    flex: 1 1 auto;
    margin: 0 10px;
    text-align: center;
    border: 1px solid rgb(103,58,183);
}
.noDecor {
    text-decoration: none;
    color: whitesmoke;
}
.widthGrid {
    @include setWidth(29vw);
}
.widthDetail {
    @include setWidth(55vw);
}
.screenSize {
    @include setWidth(calc(100vw - 83px));
    height: 100vh;
    border: 1px solid rgb(103,58,183);
}
.fixSize {
    height: 70%;
    width: 50%;
}