  <md-card class="flexBox">
    <md-grid-list class="flexItem" cols="3" rowHeight="100px">
      <md-grid-tile (click) = "showDetails(project)"
          *ngFor="let project of projects"
          [colspan]="1"
          [rowspan]="1"
          [style.background]="project.color">
          {{project.title}}
        <!--<img src={{project.text}} alt="project" />-->
      </md-grid-tile>
    </md-grid-list>

  <md-card class="flexItem">
    <md-card-title> 
      <h1> {{prj.title}} </h1>
    </md-card-title>
    <md-card-subtitle>
      <h3> {{prj.technologies}} </h3>
    </md-card-subtitle>
    <md-card-content>
      {{prj.readme}}
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary"> VIEW LIVE </button>
    </md-card-actions>
  </md-card>
</md-card>
