  <md-card class="flexBox screenSize">
    <md-card class="flexItem widthGrid">
      <md-card-title> 
        <h2> Projects </h2>
      </md-card-title>
      <md-card-content>
        <md-grid-list cols="3" rowHeight="100px">
          <md-grid-tile class="textStyle" (click) = "showDetails(project)"
              *ngFor="let project of projects"
              [colspan]="1"
              [rowspan]="1"
              [style.background]="project.color">
                {{project.title}}
          </md-grid-tile>
        </md-grid-list>
      </md-card-content>
    </md-card>
  <md-card class="flexItem widthDetail">
    <md-card-title> 
      <h2> {{prj.title}} </h2>
    </md-card-title>
    <md-card-subtitle>
      <h3> {{prj.technologies}} </h3>
    </md-card-subtitle>
    <img ngClass="{{prj.class}}" md-card-image src={{prj.src}} alt="project" />
    <md-card-content>
      {{prj.readme}}
    </md-card-content>
    <md-card-actions>
      <a class="noDecor" type="button" md-raised-button color="primary" href="{{prj.demo}}" target="_blank"> VIEW LIVE </a>
    </md-card-actions>
    <br><br>
  </md-card>
</md-card>
