.bgImage {
  background-image: url('../../assets/Images/home.jpg');
  background-size: cover;
}
.formCenter {
    width: 70%;
    margin: 0 auto;
}
.inputLength {
    width: 100%;
}
a {
    text-decoration: none;
}
.rightAlign {
    text-align: right;
}
.screenSize {
    /*height: 90vh;
    width: 99vw;*/
    height: 92vh;
    width: 99vw;
}
.card {
    width: 70vw;
    /*margin: 55px auto;*/
    opacity: 0.7;
    text-align: center;
}