<div class="screenSize bgImage">
    <br><br>
  <md-card class="card">
    <md-card-header>
      <md-card-title>
        <h1> Say Hi! </h1>
      </md-card-title>
      <md-card-actions class="rightAlign">
        <a href="mailto:quratulann_iqbal@hotmail.com" target="_blank" (mouseover)='email = "../../assets/Images/email-filled.png"' (mouseout)='email = "../../assets/Images/email-invert.png"' >
          <img src="{{email}}" alt="Email Me" />
        </a>
        <a href="https://github.com/AnnyIqbal" target="_blank"  (mouseover)='github = "../../assets/Images/github-filled.png"' (mouseout)='github = "../../assets/Images/github-invert.png"' >
          <img src="{{github}}" alt="GitHub Profile" />
        </a>
        <a href="https://pk.linkedin.com/in/qurat-ul-ann-iqbal-aa4a4938" target="_blank"  (mouseover)='linkedin = "../../assets/Images/linkedin-filled.png"' (mouseout)='linkedin = "../../assets/Images/linkedin-invert.png"' >
          <img src="{{linkedin}}" alt="LinkedIn Profile" />
        </a>
        <a href="https://www.facebook.com/quratulann.iqbal" target="_blank"  (mouseover)='facebook = "../../assets/Images/fb-filled.png"' (mouseout)='facebook = "../../assets/Images/fb-invert.png"' >
          <img src="{{facebook}}" alt="Facebook Profile" />
        </a>
    </md-card-actions>
    </md-card-header>
    <md-card-content>
      <form novalidate class="formCenter" [formGroup]="ContactForm" (ngSubmit)="sendMsg(ContactForm)">
        <br>
        <md-input-container 
          autofocus 
          class="inputLength"        
          [dividerColor]="(!ContactForm.controls['name'].valid || ContactForm.controls['name'].pristine) ? 'warn':'primary'">
            <input mdInput type="text" placeholder="Name*" formControlName="name" />
        </md-input-container>
        <br>
        <md-input-container 
          class="inputLength"
          [dividerColor]="(!ContactForm.controls['email'].valid || ContactForm.controls['email'].pristine) ? 'warn':'primary'">
            <input mdInput type="email" placeholder="Email*" formControlName="email" />
        </md-input-container> 
        <br>
        <md-input-container 
          class="inputLength"
          [dividerColor]="(!ContactForm.controls['msg'].valid || ContactForm.controls['msg'].pristine) ? 'warn':'primary'">
            <textarea mdInput placeholder="Message*" formControlName="msg" rows="5"></textarea>
        </md-input-container>
        <br><br>
        <button md-raised-button type="submit" color="primary" class="inputLength" [disabled]="!ContactForm.valid"> SEND </button>
      </form>
    </md-card-content>
  </md-card>
</div>
