.example-header-image {
  background-size: cover;
}

.formCenter {
    width: 70%;
    margin: 0 auto;
}
.inputLength {
    width: 100%;
}
/*.center {
    width: 100px;
    margin-left: 420px;
}*/
a {
    text-decoration: none;
}
.flexBox {
    display: inline-flex;
}
.flexItem {
    flex: 1 1 auto;
    text-align: center;
}
.formWide {
    width: 86vw;
}
.socialMedia {
    width: 5vw;
}
.heading {
    width: 4em;
    margin: 10px 162px;
}
.small {
    height: 10px;
    width: 10px;
}