<md-toolbar color="primary">
  <span class="space">Anny's Portfolio</span>
  <span class="example-spacer"></span>
  <md-icon class="example-icon tooltip" mdTooltip="Home" mdTooltipPosition="below" (click)="navigateTo('home')">home</md-icon>
  <span class="example-spacer"></span>
  <md-icon class="example-icon tooltip" mdTooltip="Portfolio" mdTooltipPosition="below" (click)="navigateTo('portfolio')">apps</md-icon>
  <span class="example-spacer"></span>
  <md-icon class="example-icon tooltip" mdTooltip="About" mdTooltipPosition="below" (click)="navigateTo('about')">person</md-icon>
  <span class="example-spacer"></span>
  <md-icon class="example-icon tooltip" mdTooltip="Contact" mdTooltipPosition="below" (click)="navigateTo('contact')">call</md-icon>
</md-toolbar>
