/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
/*@media screen and (max-width: 768px){    // for small screens<768px, jb screen ziada se ziada 767px ki ho tb 
            #home, #about, #portfolio, #contact {
                height: auto;
                padding-top:150px;
                padding-bottom:50px;
            }
            #name, #email, #msg, #button {
                margin: 0 10%;
                width: 80%;
            }
            #bs-example-navbar-collapse-1 li { // navbar's list items 
                margin: 0 10px;
            }
            #portfolio a img {
                height:30%;
                width:80%;
                margin: 2% 10%;
            }
            #footer img {
                height:5%;
                width:5%;
            }
            #footer .col-sm-1 {
                display:inline;
            }
        }
        @media screen and (min-width: 1000px) {    // for larger devices 1000px and more 
            #body, #nbar, #footer {
                width: 1000px;
                margin: 0 auto;
            }
        }*/