.bgImage {
  background-image: url(../../assets/Images/home.jpg);
  background-size: cover;
  height: 80vh;
  width: 95.2vw;
}
.text {
  color: black;
  padding-top: 59vh;
  font-family: 'Times New Roman', Times, serif;
}
.screenSize {
    height: 80vh;
    width: 95vw;
}