.bgImage {
  background-image: url(../../assets/Images/developer.jpg);
  background-size: cover;
  height: 80vh;
  width: 95.2vw;
}
.text {
  color: azure;
  /*color: crimson;*/
  padding-top: 59vh;
  font-family: 'Times New Roman', Times, serif;
}
.screenSize {
    /*height: 90vh;
    width: 99vw;*/
    /*height: 88vh;
    width: 96vw;*/
    /* desktop ofc
    height: 84vh;
    width: 95vw;*/
    /*laptop*/
    height: 80vh;
    width: 95vw;
}