.bgImage {
  background-image: url('../../assets/Images/developer.jpg');
  background-size: cover;
  height: 80vh;
  width: 95.2vw;
}
.text {
  color: azure;
  /*color: crimson;*/
  padding-top: 59vh;
  font-family: 'Times New Roman', Times, serif;
}